.resumeEntry{
  display: flex;
  flex-direction: column;
  align-items: center;
  .verticalSeparator{
    width: 1px;
    height: var(--spacing9);

    background-color: var(--black);
  }

  h3{
    margin: 0;
    margin-top: var(--spacing6);

    font-size: var(--fontSize3);

    font-family: var(--capsFont);
  }

  .subtitle{
    margin-top: var(--spacing3);
  }

  .body{
    max-width: 700px;
    margin-top: var(--spacing5);

    line-height: var(--lineHeight);

    p:first-child{
      margin-top: 0;
    }

    p:last-child{
      margin-bottom: 0;
    }
  }

  .tech{
    display: flex;
    gap: var(--spacing5);
    margin: var(--spacing6) 0;
  }
}
