section.about > div{
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  .text{
    max-width: 700px;
  }

  .contact{
    margin-top: var(--spacing7);

    span{
      margin: 0 var(--spacing5);
    }
  }
}
