button.button,
a.button{
  --text: var(--white);
  --background: var(--black);
  --border: var(--black);
  --svg: var(--white);
  --textHover: var(--primaryColorLight);
  --backgroundHover: var(--black);
  --borderHover: var(--black);
  --svgHover: var(--primaryColorLight);
  --elevationHover: var(--elevationShadow4);

  &.danger{
    --text: var(--white);
    --background: var(--danger);
    --border: var(--danger);
    --svg: var(--white);
    --textHover: var(--white);
    --backgroundHover: var(--dangerDark);
    --borderHover: var(--dangerDark);
    --svgHover: var(--white);
  }

  &.disabled{
    filter: none;
    --background: var(--gray);
    --border: var(--gray);
    pointer-events: none;
  }

  &.ghost{
    --text: var(--black);
    --background: transparent;
    --border: var(--black);
    --svg: var(--black);
    --textHover: var(--white);
    --backgroundHover: var(--black);
    --borderHover: var(--black);
    --svgHover: var(--white);


    &.danger{
      --text: var(--dangerDark);
      --background: transparent;
      --border: var(--dangerDark);
      --svg: var(--dangerDark);
      --textHover: var(--white);
      --backgroundHover: var(--danger);
      --borderHover: var(--danger);
      --svgHover: var(--white);
    }

    &.disabled{
      --border: var(--gray);
      --text: var(--gray);
      --svg: var(--gray);
    }
  }

  &.text{
    --text: var(--black);
    --background: transparent;
    --border: transparent;
    --svg: var(--black);
    --textHover: var(--black);
    --backgroundHover: rgba(0, 0, 0, 0.1);
    --borderHover: transparent;
    --svgHover: var(--black);
    --elevationHover: none;


    &.danger{
      --text: var(--dangerDark);
      --svg: var(--dangerDark);
      --backgroundHover: hsla(var(--dangerHsl), 0.1);
      --textHover: var(--dangerDark);
      --svgHover: var(--dangerDark);
    }
    &.disabled{
      --text: var(--gray);
      --svg: var(--gray);
    }
  }

  &.icon{
    --text: transparent;
    --background: transparent;
    --border: transparent;
    --svg: var(--gray);
    --textHover: transparent;
    --backgroundHover: transparent;
    --borderHover: transparent;
    --svgHover: var(--primaryColor);

    &.danger{
      --text: transparent;
      --background: transparent;
      --border: transparent;
      --svg: var(--gray);
      --textHover: transparent;
      --backgroundHover: transparent;
      --borderHover: transparent;
      --svgHover: var(--danger);
    }
  }

  position: relative;


  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: min-content;
  min-height: 2.75rem;
  padding: 0 var(--spacing7);

  font-weight: 500;
  font-size: var(--fontSize2);
  font-family: var(--secondaryFont);
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--background);
  border: 2px solid var(--border);
  border-radius: var(--curve);
  box-shadow: var(--elevation0);
  cursor: pointer;

  transition: background-color var(--speed1) ease-in-out, border-color var(--speed1) ease-in-out, box-shadow var(--speed1) ease-in-out;

  user-select: none;

  .text,
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: var(--text);
    white-space: nowrap;

    transition: opacity var(--speed1) ease-in-out, color var(--speed1) ease-in-out;
  }

  &.wrap .text{
    display: inline-block;

    white-space: normal;
  }

  svg{
    flex-shrink: 0;
    width: auto;
    height: 1.618em;
    path{
      transition: fill var(--speed1) ease-in-out;

      fill: var(--svg);
    }

    &:first-child{
      margin-right: var(--spacing4);
    }
    &:last-child:not(:first-child){
      margin-left: var(--spacing4);
    }
  }

  &:hover:not(.loading),
  &.ghost:hover:not(.loading){
    --text: var(--textHover);
    --background: var(--backgroundHover);
    --border: var(--borderHover);
    --svg: var(--svgHover);

    box-shadow: var(--elevationHover);

    &.transparent{
      box-shadow: none;
    }
  }

  >*{
    grid-row: 1;
    grid-column: 1;
  }

  .spinner{
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: opacity var(--speed1) ease-in-out;

    pointer-events: none;

    svg{
      width: 1.3em;
      height: 1.3em;
      margin: 0;
    }
  }

  &.loading{
    cursor: default;

    pointer-events: none;
    .text{
      opacity: 0;
    }
    .spinner{
      opacity: 1;
    }
  }

  &:focus,
  &:active{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  .helperText{
    position: absolute;

    top: calc(100% + var(--spacing3));
    left: 0;

    align-self: stretch;
    justify-self: stretch;
    width: calc(100% - var(--spacing7));

    color: var(--gray);
    font-size: var(--fontSize0);
    text-align: center;
    text-transform: none;

    user-select: none;
  }

  &.large{
    height: 3.5rem;
    padding: 0 var(--spacing8);

    font-size: var(--fontSize3);
  }

  &.small{
    height: 1.5rem;
    min-height: 1.5rem;
    padding: 0;

    font-size: var(--fontSize1);

    &.icon{
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      min-height: 2rem;

      svg{
        width: 1.3rem;
        height: auto;
      }
    }
  }

  /*stylelint-disable-next-line no-duplicate-selectors*/
  &.icon{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    min-width: 2.75rem;
    height: 2.75rem;
    min-height: 2.75rem;
    padding: 0;
    overflow: hidden;

    border: none;
    border-radius: 100%;
    padding-block: 0;
    aspect-ratio: 1/1;
    svg{
      width: 2rem;
      max-width: 2rem;
      height: 2rem;
      max-height: 2rem;
      margin: 0;
      path{
        fill: var(--svg);
      }
    }

    &:hover{
      box-shadow: none;
    }
  }
}
