button.button,
a.button{
  --text: var(--cream);
  --background: var(--black);
  --border: var(--black);
  --textHover: var(--cream);
  --backgroundHover: var(--grayDark);
  --borderHover: var(--grayDark);

  &.ghost{
    --text: var(--black);
    --background: transparent;
    --border: var(--black);
    --textHover: var(--cream);
    --backgroundHover: var(--black);
    --borderHover: var(--black);
  }

  &.grayscale{
    --text: var(--cream);
    --background: var(--black);
    --border: var(--black);
    --textHover: var(--cream);
    --backgroundHover: var(--grayDark);
    --borderHover: var(--grayDark);

    &.ghost{
      --text: var(--black);
      --background: transparent;
      --border: var(--black);
      --textHover: var(--cream);
      --backgroundHover: var(--black);
      --borderHover: var(--black);
    }
  }

  &.transparent{
    --text: var(--black);
    --background: transparent;
    --border: transparent;
    --textHover: var(--grayDark);
    --backgroundHover: transparent;
    --borderHover: transparent;
  }

  &.dark{
    --text: var(--black);
    --background: var(--cream);
    --border: var(--cream);
    --textHover: var(--black);
    --backgroundHover: var(--grayLight);
    --borderHover: var(--grayLight);

    &.ghost{
      --text: var(--cream);
      --background: transparent;
      --border: var(--cream);
      --textHover: var(--black);
      --backgroundHover: var(--cream);
      --borderHover: var(--cream);
    }

    &.grayscale{
      --text: var(--black);
      --background: var(--cream);
      --border: var(--cream);
      --textHover: var(--black);
      --backgroundHover: var(--grayLight);
      --borderHover: var(--grayLight);

      &.ghost{
        --text: var(--cream);
        --background: transparent;
        --border: var(--cream);
        --textHover: var(--black);
        --backgroundHover: var(--cream);
        --borderHover: var(--cream);
      }
    }

    &.transparent{
      --text: var(--cream);
      --background: transparent;
      --border: transparent;
      --textHover: var(--grayLight);
      --backgroundHover: transparent;
      --borderHover: transparent;
    }
  }

  display: grid;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  height: min-content;
  min-height: 2.75rem;

  padding: 0 var(--spacing7);

  font-weight: 400;

  font-size: var(--fontSize3);
  font-family: var(--capsFont);
  text-align: center;
  text-decoration: none;

  background-color: var(--background);

  border: 1px solid var(--border);
  border-radius: var(--curve);

  box-shadow: var(--elevation0);
  cursor: pointer;

  transition: background-color var(--speed1) ease-in-out, border-color var(--speed1) ease-in-out;


  user-select: none;

  .text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: var(--text);
    white-space: nowrap;

    transition: opacity var(--speed1) ease-in-out, color var(--speed1) ease-in-out;
  }

  &.wrap .text{
    display: inline-block;

    white-space: normal;
  }


  svg{
    width: auto;
    height: 1em;
    path{
      transition: fill var(--speed1) ease-in-out;

      fill: var(--text);
    }

    &:first-child{
      margin-right: var(--spacing4);
    }
  }

  &.icon{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    min-width: 2.75rem;
    height: 2.75rem;
    min-height: 2.75rem;
    padding: 0;

    border-radius: 100%;
    padding-block: 0;
    aspect-ratio: 1/1;
    svg{
      width: auto;
      height: 1.5rem;
      margin: 0;
    }
  }


  &:hover:not(.loading),
  &.ghost:hover:not(.loading),
  &.grayscale:hover:not(.loading),
  &.dark.ghost:hover:not(.loading),
  &.dark.grayscale:hover:not(.loading){
    --text: var(--textHover);
    --background: var(--backgroundHover);
    --border: var(--borderHover);
    box-shadow: var(--elevation4);


    &.transparent{
      box-shadow: none;
    }
  }

  &.disabled{
    filter: grayscale(100%) brightness(50%);

    pointer-events: none;
  }

  >*{
    grid-row: 1;
    grid-column: 1;
  }

  .spinner{
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: opacity var(--speed1) ease-in-out;

    pointer-events: none;

    svg{
      width: 1.3em;
      height: 1.3em;
      margin: 0;
    }
  }

  &.loading{
    cursor: default;
    .text{
      opacity: 0;
    }
    .spinner{
      opacity: 1;
    }
  }

  &:focus,
  &:active{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}
