.deviateTrackingAnimation{
  .serverlessBlock{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media (max-width: 600px){
      flex-direction: column;
      align-items: flex-start;
    }

    .row{
      display: flex;
    }

    .text{
      max-width: 450px;
      margin: 0 var(--spacing6) 0 0;
      @media (max-width: 600px){
        margin: 0 0 var(--spacing6) 0;
      }
    }

    h2{
      margin: 0 0 35px 0;

      color: #212d46;
      font-weight: 700;
      font-size: 45px;
      line-height: 50px;
      text-align: center;
    }
  }

  .serverlessAnimation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    font-size: var(--fontSize2);
    font-family: var(--primaryFont);

    .wrapper{
      display: grid;
      min-width: 300px;

      >*{
        grid-row: 1;
        grid-column: 1;
      }

      .caption{
        position: relative;

        align-self: center;
        max-width: 300px;
        margin-top: auto;
        padding-top: var(--spacing5);

        font-size: var(--fontSize1);
        font-style: italic;
        text-align: center;
      }

      .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: var(--fontSize3);
        font-family: monospace;
        line-height: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;

        >*{
          min-height: 1em;
        }

        >*:not(:first-child){
          margin-top: var(--spacing5);
        }
      }

      .noServer{
        display: flex;
        flex-direction: column;

        .servers{
          display: flex;
          justify-content: center;
        }

        svg{
          width: 16rem;
          height: 16rem;
        }
      }

      .noCode{
        display: flex;
        flex-direction: column;
        align-items: center;

        .code{
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
        }
        svg{
          width: 16rem;
          height: auto;
          overflow: visible;
        }
      }
      .noHassle{
        display: flex;
        flex-direction: column;
        align-items: center;

        .hassle{
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
        }
        svg{
          width: 16rem;
          height: auto;
          overflow: visible;
        }
      }
    }
  }
}
