.footer{
  display: flex;
  align-items: center;
  justify-content: center;

  > div{
    display: flex;
    flex-direction: column;
    gap: var(--spacing8);

    .row{
      display: flex;
      gap: var(--spacing8);
      justify-content: center;
    }

    a{
      display: flex;
      align-items: center;

      text-decoration: none;

      svg{
        width: auto;
        height: 1.618em;
        margin-right: var(--spacing3);
        path{
          transition: fill var(--speed1) ease-in-out;
        }
      }

      &:hover{
        color: var(--cream);

        svg path{
          fill: var(--cream);
        }
      }
    }
  }
}
