.footer{
  --fg: var(--cream);
  --bg: var(--black);

  &.light{
    --fg: var(--black);
    --bg: var(--cream);
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg);

  >div{
    display: flex;
    flex-direction: column;
    align-items: center;

    .headline{
      margin-bottom: var(--spacing5);

      font-weight: 300;
      font-size: var(--fontSize5);
      text-align: center;
      text-transform: uppercase;
    }

    a{
      text-align: center;
    }

    hr{
      align-self: stretch;
      width: 100%;
      height: 1px;
      margin: var(--spacing6) 0;

      background-color: var(--gray);
      border: 0;
    }

    .copyright{
      color: var(--gray);
      font-size: var(--fontSize1);
      font-style: italic;
    }
  }
}
