@font-face{
  font-weight: 400;
  font-family: "Valkyrie";
  font-style: normal;
  src: url("/fonts/valkyrie_a_regular.woff2") format("woff2");
  font-display: block;
}
@font-face{
  font-weight: 400;
  font-family: "Valkyrie";
  font-style: italic;
  src: url("/fonts/valkyrie_a_italic.woff2") format("woff2");
  font-display: block;
}
@font-face{
  font-weight: 700;
  font-family: "Valkyrie";
  font-style: normal;
  src: url("/fonts/valkyrie_a_bold.woff2") format("woff2");
  font-display: block;
}
@font-face{
  font-weight: 700;
  font-family: "Valkyrie";
  font-style: italic;
  src: url("/fonts/valkyrie_a_bold_italic.woff2") format("woff2");
  font-display: block;
}
@font-face{
  font-weight: 400;
  font-family: "Valkyrie Caps";
  font-style: normal;
  src: url("/fonts/valkyrie_a_caps_regular.woff2") format("woff2");
  font-display: block;
}
