section.projects > div{
  display: flex;
  flex-direction: column;
  gap: var(--spacing10);
  align-items: center;

  .project{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    .image{
      overflow: hidden;

      border-radius: var(--curve);
    }

    h3{
      margin: var(--spacing6) 0 0 0;

      font-family: var(--capsFont);
    }

    .subtitle{
      margin-bottom: var(--spacing6);

      font-size: var(--fontSize2);
      font-style: italic;
    }

    .text{
      max-width: 800px;
    }
  }
}
